/* พื้นหลัง gradient เต็มจอ */
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

/* กล่องฟอร์ม */
.login-box {
  background: white;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
  animation: fadeIn 0.7s ease-in-out;
}

/* Title */
.login-box h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

/* input group */
.input-group {
  text-align: left;
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-bottom: 2px solid #2575fc;
}

/* ปุ่ม */
.btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg, #cbcbcb);
  border: none;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #2a2a2a);
}

/* ลิงก์ด้านล่าง */
.switch-link {
  margin-top: 1rem;
  font-size: 14px;
}

.switch-link a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.switch-link a:hover {
  text-decoration: underline;
}

/* effect เวลาโหลด */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to   { opacity: 1; transform: translateY(0); }
}
